<!doctype html>
<html>
    <head>
        <title>CSS3 Generator</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    </head>

    <body>
        <div class="container">
            <h1>CSS3 Generator</h1>
            <div id="menu"></div>
            <div id="content"></div>
            <footer><a href="http://tpgmartin.com/">Tom Martin</a></footer>
        </div>

        <script type="text/template" id="tpl-menu">
            <h2 id="sub-heading"></h2>
        </script>
        <script type="text/template" id="tpl-list-property">
            <li class="item-property" data-status data-index="<%= index %>"><%= title %></li>
        </script>
        <script type="text/template" id="tpl-s">
            <div></div>
        </script>
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/underscore.min.js"></script>
        <script src="js/lib/backbone.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/views/menu.js"></script>
        <script src="js/views/list.js"></script>
        <script src="js/views/form.js"></script>
        <script src="js/models/Property.js"></script>
        <script src="js/collections/Properties.js"></script>
        <script>
            window.onload = function() {
                app.init();
            }
        </script>
    </body>
</html>